header {
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: column;
    z-index: 10;
}
.logo {
    flex: 5%;
    margin: 0 0 0 27px;
}
.logo img{
    width: 188px; 
}
 nav {
     flex: 95%;
 }
 

nav ul {
    list-style: none;
    overflow: hidden;
    display: flex;
    gap: 30px;
}

nav ul li {
    float: left;
    padding:5px  10px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    font-size: 16px;
}

nav ul li:hover {
    background: #ffffff33;
    border-radius: 10px;
    cursor: pointer;
}
@media (min-width: 768px) {

    header {
        flex-direction: row;
    }
}